.header-container {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     height: 20px;
     background: #34AADC;
     color: white;
     padding: 5px 10px;
}

.header-container .brand {
     font-family: Audiowide, Arial
}

.main-container {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#controls {
    float: right;
}

#glasspane {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 100;

    -webkit-user-select: none; // webkit (safari, chrome) browsers
    -moz-user-select: none; // mozilla browsers
    -khtml-user-select: none; // webkit (konqueror) browsers
}

#cockpit {
    height: 100%;
    width: 100%;
}
