/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

/* All styles for Markers */

.marker-info {
	/* -webkit-border-radius: 0 0 4px 4px/0 0 3px 3px;
	-moz-border-radius:border-radius: 0 0 4px 4px/0 0 3px 3px;
	border-radius: 0 0 4px 4px/0 0 3px 3px;
	background-color: #fff;
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.3);
	-mox-box-shadow: 0 4px 5px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.3);
	box-shadow: 0 4px 5px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.3); */
	margin: 5px 5px 5px 5px;
}

.marker-info span{
	position: relative;
	top: -10px;
}

.marker-info .row {
	display: inline-block;

}

.marker-info img {
	width: 32px;
	height: 32px;
	
}