#buttons{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 260px;
  background: #888;
}

.button{
  font-size:11px;
  width:130px;
  float:left;
  outline:1px solid #FFFFFF;
  background-color: #607D8B;
  font-family:helvetica;
  text-align:center;
  font-weight:bold;
  line-height:33px;
  cursor:pointer;
}

.button:hover{
  background:#eee;
}

#glasspane{
  right: 260px;
}

#stop, #emergency{
  width:260px;
}

#takeoff{
  background:#4CAF50;
}

#land{
  background:#FFEB3B;
}

#emergency{
  background:#F44336;
}

#emergency:hover, #takeoff:hover, #land:hover{
  color:#fff;
}

#tag{
  margin-top:2px;
}

.button.active{
  background: #34AADC;
  color:#fff;
}
