<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="https://cdn.socket.io/socket.io-1.3.4.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAq41w4md0ru_YpFxfW-F0hqyp2rvjV7fI&sensor=true"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-calm">
        <h1 class="title">Drone Geotagger</h1>
      </ion-header-bar>
      <ion-content ng-controller="MapController">
        <div id="map" data-tap-disabled="true"></div>
      </ion-content>
    </ion-pane>
    <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar>
  </body>
</html>
